button {
  border-radius: 0 !important;
  font-size: 11px !important;
}
.modal-code-sent{
  top: 49px;
    right: 23px;
    color: orange;
   
    opacity: 3.5;
    padding: 5px 7px;
   
    border-radius: 5px;cursor:pointer;
}
@media only screen and (max-width: 600px) {
  .ert {
      min-width: 300px
    }
}
@media only screen and (min-width: 600px) {
  .ert {
      min-width: 500px
    }
}
.step-tab-panel:not(.active){
  display:none
}
input.invalid {
  border-color: red;
}
.pointer{
cursor:pointer;
}
.popover{
  min-width:400px!important;
}
.btn-primary{
         
              background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
            
              text-align: center;
              text-transform: uppercase;
              transition: 0.5s;
              background-size: 200% auto;
              color: white;
              box-shadow: 0 0 20px #eee;
              border-radius: 10px;
              display: block;border:0!important;outline:none
            }
          
            .btn-primary:hover {
              background-position: right center;
              /* change the direction of the change here */
              color: #fff;
              text-decoration: none;
            }
.tra{
  font-size:14px!important
}